#trial-gallery{
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #0b8;    
}

#collection{
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #0b8
}

#centered{
    text-align: center;
}